{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
{{ time_now }}
<h1>Все новости: ({{ news|length }})</h1>
<hr>
<table>
	<tr>
		<td>
			<h2>Заголовок</h2>
			<hr>
		</td>
		<td>
			<h2>Статья</h2>
			<hr>
		</td>
	</tr>
	{% if news %}
	{% for post in news %}
	<tr>
		<td>
			{{ post.title|censor }}
		</td>
		<td>
			{{ post.text|truncatechars:50|censor }}
		</td>
	</tr>
	{% endfor %}
	{% else %}
	<h2>Новостей нет!</h2>
	{% endif %}
	{% endblock content %}